.options {

    box-sizing: border-box;
    --bgColorMenu: #1d1d27;
    --duration: .7s;

}

options *,
options *::before,
options *::after {
    box-sizing: inherit;
}

.options {
    margin: 0;
    display: flex;
    padding-top: 5%;
    padding-bottom: .25%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    /* background-color: #ffb457; */
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--duration);
}

.menu {
    margin: 0;
    display: flex;
    /* Works well with 100% width  */
    width: 100%;
    font-size: 1.5em;
    padding: 0 2.85em;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColorMenu);
}

.menu__item {
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut, var(--duration));
}

.menu__item::before {
    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);
}


.menu__item.active {
    transform: translate3d(0, -.8em, 0);
}

.menu__item.active::before {
    transform: scale(1.5);
    background-color: var(--bgColorItem);
}

.icon {
    width: 2.6em;
    height: 2.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
}

.icon-devops {
    width: 4.5em;
    height: 4.5em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
}

.select-options {
    background-color: #77b1a9;
}

.menu__item.active .icon {
    animation: strok 1.5s reverse;
}

@keyframes strok {
    100% {
        stroke-dashoffset: 400;
    }
}

/* .menu__border{
    left: 0;
    bottom: 100%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut , var(--duration));
} */

.svg-container {
    width: 0;
    height: 0;
}


@media (max-width:1000px) {
    .menu__item{
        display: flex;
        flex-direction: column;
        font-size: 100%;
    }
    .icon {
        width: 2.5em;
        height: 2.5em;
    }

    .icon-devops {
        width: 2.7em;
        height: 2.7em;
    }
}

@media (max-width:741px) {

    .menu__item {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        font-size: 80%;
    }
    .icon {
        width: 2.5em;
        height: 2.5em;
    }

    .icon-devops {
        width: 2.7em;
        height: 2.7em;
    }
}

@media (max-width:490px) {
    .menu{
        padding-top: 2%;
    }
    .menu__item {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        font-size: 70%;
    }
    .menu__item.active::before {
        transform: scale(1.2);
    }
    .icon {
        width: 1.6em;
        height: 1.6em;
    }

    .icon-devops {
        width: 1.6em;
        height: 1.6em;
    }
}